extends layout.pug

block content
    if error
        p(style = "color: red")= error
         
    a(href='/login') Sign in
    h1 Contact List
    a( href = 'newContact') Create a new contact

    table
        thead
            tr
                th Name
                th Phone
                th Email
                th Address
                th Contact
        tbody
            each c in contacts
                tr
                    td #{c.firstName}
                    td #{c.phone}
                    td #{c.email}
                    td #{c.street}, #{c.city}
                    td        